.project_box {
  padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.project_box p {
    margin: 0;
    padding: 0;
}

.box1{
  float: left;
}

.box2{
  clear: left;
}

.list{
  list-style: none;
  float: right;
}

.alubum-title{
  text-align: center;
}

.jumbotron {
  background-color: #EEFFFF;
}
